.list {
  padding-top: 24px;
  padding-bottom: 24px;
  grid-gap: 16px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 12px;
}
